controller_manager:
  ros__parameters:
    update_rate: 100

    elfin_arm_controller:
      type: joint_trajectory_controller/JointTrajectoryController

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    gripper_controller:
      type: position_controllers/GripperActionController

gripper_controller:
  ros__parameters:
    joints:
      - Left_1_Joint
    command_interfaces:
      - position
    state_interfaces:
      - position
    state_publish_rate: 100.0
    action_monitor_rate: 20.0
    allow_partial_joints_goal: false
    constraints:
      stopped_velocity_tolerance: 0.5
      goal_time: 0.0
      Left_1_Joint: { trajectory: 0.2, goal: 0.1 }

elfin_arm_controller:
  ros__parameters:
    joints:
      - elfin_joint1
      - elfin_joint2
      - elfin_joint3
      - elfin_joint4
      - elfin_joint5
      - elfin_joint6
    command_interfaces:
      - position
      - velocity
    state_interfaces:
      - position
      - velocity
    state_publish_rate: 100.0
    action_monitor_rate: 20.0
    allow_partial_joints_goal: false
    constraints:
      stopped_velocity_tolerance: 0.2
      goal_time: 0.0
      elfin_joint1: { trajectory: 0.2, goal: 0.1 }
      elfin_joint2: { trajectory: 0.2, goal: 0.1 }
      elfin_joint3: { trajectory: 0.2, goal: 0.1 }
      elfin_joint4: { trajectory: 0.2, goal: 0.1 }
      elfin_joint5: { trajectory: 0.2, goal: 0.1 }
      elfin_joint6: { trajectory: 0.2, goal: 0.1 }

